/*.rightTable .inputGroup{
    width: 100%;
    display: block;
    margin-top: 20px;
   
}.inputGroup input{
    margin-left: 20px;
}
.theme input{
    width: 80%;

}
.inputGroup span{

    display: inline-block;
    height: 30px;
    text-align: left;
    font-size:12px;
    margin-left:-10%;
}
.inputGroup span:nth-of-child(1){

    display: inline-block;
    height: 30px;
    text-align: left;
    color: greenyellow;
    font-size:25px;
    padding: 5px 2px ;
}
.inputGroup textarea{
    width: 80%;
    height: 300px;
    resize: none;
}
.inputGroup .verfityCode input{
    width: 20%;

}
.inputGroup .verfityCode .img{
    display: inline-block;
    width: 15%;
    height: 60px;
}
.inputGroup .btn{
    width: 20%;
    height: 40px;
}*/
.rightTable .theme input{
    width: 89.5%;
    margin-left:0%;
}
.rightTable .verfityCode input{
    width: 15%;
    margin-left:-74.5%;
}
.rightTable tr{
    background: #fff;
}
.rightTable input{
    width: 45%;
    margin-left:-44%;
}
.rightTable .btn{
    margin-top:30px;
    width: 15%;
    height: 40px;
}
.rightTable textarea{
    width: 699px;
    height: 274px;
    resize: none;
}
.rightTable tr:last-child{
    border:  none;
}